@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background: #f3f5fc;
}
html{
    font-size: 16px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
}
header{
    display: flex;
    max-width: 100%;
    margin: 2.25rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-word{
    width: 31.25rem;
    height: 15rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    color:#0A3871;
    background-color: transparent;
    resize: none;
}
.alert{
    width:90%;

}
.alert p{
    width: 100%;
    text-align: left;
    margin-top: 1.5rem;
    font-size: 1.2em;
    color:#495057;
}
.alert p::before{
    content: url(../assets/icons/alert.png);
    padding-right: 1em;
}
.buttons{
    margin-top: 1rem;
}

[type="button"]{
    width: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #0a3871;
    color: #0a3871;
    background: inherit;
    cursor: pointer;
}

.blue-button{
    background: #0a3871;
    color: #fff;
}
